.services_container{
    display:grid;
    grid-template-columns:100%;
    gap:15%;
}

.services_cards{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:1.5rem;
}

.services_card{
    background:var(--color-bg-variant);
    border-radius:1rem;
    border: 1px solid transparent;
    padding: 2rem 1rem;
    text-align:center;
}
.services_icon{
    color:var(--color-primary);
    font-size:2rem;
    margin-bottom:0.3rem;
}
.services_card h5{
    font-size:1rem;
}

.services_card small{
   color:var(--color-light);
}

.services_content p{
    color: var(--color-light);
    font-size: 0.9rem;
    padding: 1.4rem 0;
}


.service_describe{
    color: var(--color-light);
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 0.9rem 0 0 0;
}