.about_container{
    display:grid;
    grid-template-columns: 45% 50%;
    gap:5%;
}

.about_cards{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:1.5rem;
}

.about_card{
    background:var(--color-bg-variant);
    border-radius:1rem;
    border: 1px solid transparent;
    padding: 2rem;
    text-align:center;
}
.about_icon{
    color:var(--color-primary);
    font-size:1.2rem;
    margin-bottom:0.3rem;
}
.about_card h5{
    font-size:1rem;
}

.about_card small{
   color:var(--color-light);
}

.about_content p{
    color: var(--color-light);
    font-size: 0.9rem;
    padding: 1.4rem 0;
}

.bio_data{
    display: grid;
    grid-template-columns: 0fr 1fr;
    padding: 1rem 0 0 0;
}

/* .about_me{
    display: grid;
    grid-template-columns: 2fr 1fr;
} */

 /* .about_image{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.bio_data h5{
    padding: 0 0 0 0.3rem;
    /* font-size:0.5rem; */
}

.about_me{
    background: var(--color-bg-variant);
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 1rem;
}

.biodata_icon{
    color:var(--color-primary);
}