.header_container{
    text-align: center;
}

header{
    height: 70vh;
    padding-top: 5rem;
    overflow:hidden;
    text-align: center;
}


.me{
    height: 13rem;
    width: 22rem;
    display:inline-block;
    background:linear-gradient(var(--color-primary), transparent);
    position:absolute;
    left: calc(50% - 11rem);
    margin-top:4rem;
    /* border-radius:12rem 12rem 0 0; */
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}